.op{
font-family: 'Open Sans', sans-serif;
}
.rl{
  font-family: 'Raleway', sans-serif;
}
.white{
  color: white;
}
.inline{
  display: inline-block;
}
.menu >li{
  list-style: none;
  display: inline-block;
  margin-left: 13%;
}
.titulo{
  height: 80px;
  padding-top: 1.5%;
}
.portada{
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
}
.img-1{
    background-image: url(../img/taxi.jpg);
    color: white;
}
.img-2{
    background-image: url(../img/conduce.jpg);
}
.img-3{
  height: 60%;
  width: 60%;
}
.logo-1{
  display: inline-block;
  height: auto;
}
.padding-4{
  padding: 4%;
}
.padding-2{
  padding-top: 2%;
}
.padding-3{
  padding: 3% 0;
}
.padding-5{
  padding-top: 15%;
}
.mensaje{
  float: right;
  background-color: #f7b617;
  height: 60%;
  width: 40%;
}
.naranja{
  background-color:#f7b617;
  height: 450px;
}
.texto-1{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
.texto-2{
  opacity:0.4;
  height: 100%;
  background-color: black;
  overflow: hidden;
  z-index: 1;
}
.info{
  z-index: 15;
  padding: 40% 5%;
}

.marco{
  overflow: hidden;
  border-top: 1px solid white;
  border-bottom:  1px solid white;
  border-right:  1px solid white;
}
.marquito{
  border: 1px solid white;
  height: 80%;
  width: 80%;
}
.form-control{
  display: inline-block;
  width: 60%;
  margin-left: 3%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  /*-web-kit: color-placerholder()*/
}

.destino{
  margin-bottom: 5%;
}
.gray{
  background-color: #2b2b2b;
}
.lista{
  list-style: none;
}
.lista >li{
  margin-top: 8%;
  padding-bottom:
}
.rot-1{
  border-bottom: 1px solid white;
  padding-bottom: 1%;
}
.rot-2{
  border-top:1px solid white
}
.none{
  display: none;
}
.bold{
  font-size: bold;
}
@media (max-width: 767px){
  .visible-xs-block {
    display: block !important;
  }
  .mensaje{
    width: 80%;
  }
  .marco{
    border: 1px solid white;
    padding: 8%;
    text-align: center;
  }

  .img-3{
    height: 80%;
    width: 80%;
    margin-left: 15%;
  }
  .img-1{
    height: 400px;
  }
  .img-2{
    height: 250px;
  }
  .portada{
    padding-left: 0;
    padding-right: 0;
  }
  .info{
    padding: 13% 1%;
  }
  .margen{
    padding: 25% 0 !important;
  }
  .destino{
    padding-bottom: 7%;
  }
  .form-control{
    width: 85%;
  }
  .gray{
    padding: 10% 3%;
  }
  .lista{
    padding: 0;
  }
  .rot-1{
    padding: 0 5% 3% 5%;
  }
  .spacio{
    padding-bottom: 5%;
  }
  .centreado{
    padding: 8% 6%;
  }
  .logo-1{
    height: 20px;
  }
  .m-sup{
    margin-top: 10%;
  }
  .padding-2{
    padding-top: 10%;
  }
  .logo{
    height: 20px;
    width: 60px;
  }
  .titulo{
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
  }
  .menu{
    position: absolute;
    top: 37px;
    left: 47px;
  }

}
